
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

.newMan body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.veryFirstmainContainercls {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #fff;
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.8) 0%,
    rgba(255, 165, 0, 0.8) 20%,
    rgba(255, 255, 255, 0.8) 40%,
    rgba(0, 128, 0, 0.8) 60%,
    rgba(4, 4, 247, 0.8) 80%
  );
  backdrop-filter: blur(10px);
  overflow: hidden;
}
// rgba(0, 0, 0, 0.8) 80%

#unique-anchor {
  cursor: pointer;
  transition: all 200ms linear;
}

#unique-anchor:hover {
  text-decoration: none;
}

.unique-linking {
  color: #fff;
}

.unique-linking:hover {
  color: #12f8ad;
}

#unique-forp {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}

#unique-hfour {
  font-weight: 600;
}

#unique-hsix span {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.unique-sec {
  position: relative;
  width: 100%;
  display: block;
}

.unique-full-height {
  min-height: 100vh;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.unique-checkbox:checked + label,
.unique-checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffffff;
}

.unique-checkbox:checked + label:before,
.unique-checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #12f8ad;
  background-color: #2a2b38;
  font-family: "unicons";
  content: "\eb4f";
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}

.unique-checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}

.unique-card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 40px;
}

.unique-card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}

.unique-front-card,
.unique-back-card {
  width: 100%;
  height: 100%;
  background-color: #2a2b38;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.unique-back-card {
  transform: rotateY(180deg);
}

.unique-checkbox:checked ~ .unique-card-3d-wrap .unique-card-3d-wrapper {
  transform: rotateY(180deg);
}

.unique-center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.unique-form-group {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.unique-form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.unique-form-style:focus,
.unique-form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.unique-.forInput-icon {
  position: absolute;
  top: 6px;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #12f8ad;
  transition: all 200ms linear;
}

.unique-form-group .forInput:-ms-.forInput-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  transition: all 200ms linear;
}

.unique-form-group .forInput::-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  transition: all 200ms linear;
}

.unique-form-group .forInput:-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  transition: all 200ms linear;
}

.unique-form-group .forInput::-webkit-.forInput-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  transition: all 200ms linear;
}

.unique-form-group .forInput:focus:-ms-.forInput-placeholder {
  opacity: 0;
  transition: all 200ms linear;
}

.unique-form-group .forInput:focus::-moz-placeholder {
  opacity: 0;
  transition: all 200ms linear;
}

.unique-form-group .forInput:focus:-moz-placeholder {
  opacity: 0;
  transition: all 200ms linear;
}

.unique-form-group .forInput:focus::-webkit-.forInput-placeholder {
  opacity: 0;
  transition: all 200ms linear;
}

.unique-bbttnn {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #12f8ad;
  color: #fff;
  box-shadow: 0 8px 24px 0 rgba(18, 248, 173, 0.2);
}

.unique-bbttnn:active,
.unique-bbttnn:focus {
  background-color: #fff;
  color: #12f8ad;
  box-shadow: 0 8px 24px 0 rgba(255, 255, 255, 0.2);
}

.unique-bbttnn:hover {
  background-color: #fff;
  color: #12f8ad;
  box-shadow: 0 8px 24px 0 rgba(255, 255, 255, 0.2);
} 


.iamaTypewriter {
  background-color: none;
  background: none ;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}


.typewrited h1 {
  color: black;
  font-family: monospace;
  overflow: hidden;
  font-size: 3rem;
  border-right: .15em solid #fff;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
      typing 8s steps(40, end) infinite,
      blink-caret .7s step-end infinite;
}

@keyframes typing {
  from {
      width: 0
  }

  to {
      width: 100%
  }
}

@keyframes blink-caret {

  from,
  to {
      border-color: transparent
  }

  50% {
      border-color: #fff
  }
}


@media(max-width:365px){
  .typewrited h1 {
    font-size: 30px;
  }
}


@media(max-width:450px){
  .typewrited h1 {
    font-size: 35px;
  }
}
