

.wrapperclassoFsymbol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
  background-color: rgb(160, 206, 219);
  height: 100vh;
  width: 100vw;
  overflow: auto;
  scroll-behavior: smooth;
}

.wrapperclassoFsymbol::before {
  content: "";
  inset: 5vh 5vw 5vh 5vw;
  z-index: -1;
  position: absolute;
  background-color: rgb(180, 225, 225);
  mask: url("https://assets.codepen.io/5795858/japanese.svg?d=1630702407");
  -webkit-mask: url("https://assets.codepen.io/5795858/japanese.svg?d=1630702407");
}

.wrapperclassoFsymbol::after {
  content: "";
  inset: 5vh 5vw 5vh 5vw;
  z-index: -1;
  position: absolute;
  border: 5px solid rgb(180, 225, 225);
}

.flexclassofSYMBOL{
  align-items: center;
  justify-content: center;
  display: flex;
  height: 80vh;
  width: 80vw;
  overflow: auto;
}

.flex2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 80vh;
  overflow: auto;
}

.spacer {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  scroll-behavior: smooth;
}

#imager {
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  padding: 2em;
}

.blurb {
  font-size: 1.5rem;
  padding: 0 3em;
  margin-top: 30px;
}


.spacer::-webkit-scrollbar{
    width: 10px;
}

@media (max-width: 768px) {
    .flexclassofSYMBOL {
      flex-direction: column;
      height: auto;
      width: 100%;
    }
  
    .flex2 {
      height: auto;
    }
  
    .spacer {
      height: auto;
      overflow: auto;
      scroll-behavior: smooth;
    }
  
    #imager {
      padding: 1em;
      object-fit: contain;
    }

    .blurb {
      padding: 1em;
    }
  }