.goog-te-gadget .goog-te-combo{
    margin: 4px 0;
    padding: 8px;
    background-color: #1f242d;
    color: #fff;
  }
  
@media (max-width: 991px){
    #google_translate_element{
        display: none;
    }
}  