.global {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 420px;
  margin-top: 200px;
}

#footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#footer .social_media_icon,
#footer .menuIs {
  position: relative;
  display: flex;
  justify-content: centers;
  align-items: center;
  margin: 10px 0;
  opacity: 0.75;
  flex-wrap: wrap;
}

#footer .social_media_icon .eli{
  list-style: none;
}

footer .social_media_icon .eli a{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}



.lione{
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  list-style: none;
  font-size: 1.2em;
  opacity: 0.75;
}


.fa-brands:hover{
  opacity: 1;
}

 .lione:hover {
  opacity: 1;
}

#footer .social_media_icon .lii a:hover {
  transform: translateY(-10px);
}

#footer .menuIs .lione a {
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

#footer .menuIs .lione a:hover {
  opacity: 1;
}

#footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

#footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("wave.png");
  background-size: 1000px 100px;
}

#footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

#footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave 4s linear infinite;
}

#footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

#footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave 3s linear infinite;
}

#arrowUp{
  animation: glowS 2s ease-in-out infinite;
}

@keyframes glowS {
  0%,
  100% {
    box-shadow: 0 0 10px #fff;
  }

  50% {
    box-shadow: 0 0 20px #fff;
  }
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}

@media (max-width: 768px) {
  #footer .social_media_icon,
  #footer .menuIs {
    position: relative;
    display: flex;
    justify-content: centers;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  #footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("wave.png");
    background-size: 1000px 100px;
  }

  #footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
  }

  #footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave 4s linear infinite;
  }

  #footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
  }

  #footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave 3s linear infinite;
  }

  @keyframes animateWave {
    0% {
      background-position-x: 1000px;
    }

    100% {
      background-position-x: 0px;
    }
  }

  @keyframes animateWave_02 {
    0% {
      background-position-x: 0px;
    }

    100% {
      background-position-x: 1000px;
    }
  }
}

@media (max-width: 450px) {
  .menuIs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  footer .social_media_icon .eli a {
    margin: 0px;
  }

  #footer .social_media_icon,
  #footer #menuIs .lione a {
    font-size: 16px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    opacity: 0.75;
    padding: 0;
    margin: 8px;
  }
  #footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("wave.png");
    background-size: 1000px 100px;
  }

  #footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
  }

  #footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave 4s linear infinite;
  }

  #footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
  }

  #footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave 3s linear infinite;
  }

  @keyframes animateWave {
    0% {
      background-position-x: 1000px;
    }

    100% {
      background-position-x: 0px;
    }
  }

  @keyframes animateWave_02 {
    0% {
      background-position-x: 0px;
    }

    100% {
      background-position-x: 1000px;
    }
  }
}

@media (max-width: 991px) {
  #twoFour {
    display: none;
  }
  #twoFouur {
    display: none;
  }
}



@media(max-width:768px){
  .meranaamli{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}